REDIS_ADDR=redis:6379

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=monitoring
DATABASE_URL=postgres://user:password@postgres:5432/monitoring?sslmode=disable

FLOWLENS_BACKEND_PORT=8081

VITE_API_URL=http://localhost:8081
