/docs
/service-2/backend/logs
/service-2/frontend/node_modules
/service-2/frontend/dist
/service-2/frontend/build

/service-1/frontend/node_modules
/service-1/frontend/dist
/service-1/frontend/build

# macOS
.DS_Store
.env